@model StrawmanApp.Models.DropDownListModels
@{StrawmanApp.Models.DropDownListModels o = (StrawmanApp.Models.DropDownListModels)Model;}
<div class="form-group col-md-6">
    <div class="col-md-3">
        @if(o.title!=null){
            <h5 class="h5">@o.title</h5>
        }
        else if (o.label != null)
        {
            @Html.LabelFor(m => o.label)
        }
    </div>
    <div class="col-md-9">
        @Html.DropDownListFor(m => o.id, new SelectList(o.Items, "Value", "Text", o.SelectedItemId),new { 
                                                                @class = "form-control", 
                                                                @data_type= o.data_type,
                                                                @data_target = o.data_target,
                                                                @data_controller = o.data_controller
                                                                })
    </div>
</div>