@{
    ViewBag.Title = "KPI";
    Layout = "~/Views/Shared/_StrwLayout.cshtml";
}
@{Html.RenderPartial("~/Views/Shared/_LoadMask.cshtml");}
<table class="mastertable" style="display:none;margin:40px;"><tr>
<td style ="vertical-align:top;">
    <div class="market grid-wrap">
        <table id ="KPI_NTS" class="table table-striped grid-table">
         @{Html.RenderAction("GetTableHead", new { table_name = "NTS" });}
         <tbody></tbody>
        </table>
    </div>
</td>
<td class="collapsable" style="padding-left:.5em;vertical-align:top;">
    <div class="market grid-wrap">
        <table id ="KPI_MARKET_SHARE" class="table table-striped grid-table">
         @{Html.RenderAction("GetTableHead", new { table_name = "MARKET_SHARE" });}
         <tbody></tbody>
        </table>
    </div>
</td>
<td class="collapsable" style="padding-left:.5em;vertical-align:top;">
    <div class="market grid-wrap">
        <table id="KPI_BRAND_CONTRIBUTION" class="table table-striped grid-table">         
          @{Html.RenderAction("GetTableHead", new { table_name = "BRAND_CONTRIBUTION" });}
         <tbody></tbody>
        </table>
    </div>
</td>
</tr></table>
