@{
    ViewDataDictionary v = (ViewDataDictionary)Model;
    if (v == null) { v = ViewData; }
    
    string _value = v["dolar_change"].ToString();
}
<select name="selected_currency" id="currency" class="form-control">
    <option selected="selected" value="1">€</option>
    <option value="@_value">$</option>
</select>