@{
    ViewDataDictionary v = (ViewDataDictionary)Model;
    if (v == null) { v = ViewData; }
    
    string _value = v["default-value"].ToString();
    string _minVal = v["min-value"].ToString();
    string _maxVal = v["max-value"].ToString();
    string _increment = v["increment"].ToString();
}
<select name="currency_adjust" id="currency_adjust" data-target="adjust" data-max="@_maxVal" class="form-control">
@{string selected = "selected=\"selected\"";
    for(int i = int.Parse(_minVal); i <= int.Parse(_maxVal); i *= (int.Parse(_increment))){
        <option @Html.Raw(selected) value="@i">x @i.ToString("N0")</option>
        selected = "";
    }
}
</select>