@{
    ViewDataDictionary v = (ViewDataDictionary)Model;
    if (v == null) { v = ViewData; }
<div class="banner" style="margin-top:6px;">
    <span id="year_control">@v["_yearPeriod"]</span>
    &nbsp;
    <span id="month_control">@v["_monthPeriod"]</span>
</div>
}
