@{
    ViewBag.Title = "GroupsConfig";
    Layout = "~/Views/Shared/_StrwLayout.cshtml";
}
<div class="tools-bar">@{Html.RenderAction("GetTabs",new{ type = 1 });}</div>
<div class="content col-md-12" style="top: 45px;width: 100%;bottom: 0px;overflow: auto;position: absolute;margin:0;padding: 0 10px;">
    <div class="master config wrapper col-md-6" data-type="master" data-target="items" data-controller ="GetMasterData"><div class="panel-body">@{Html.RenderAction("GetMasterData", new { type = 1 });}</div></div>
    <div class="items config wrapper col-md-6" data-type="items" data-controller ="GetConfigData"><div class="panel-body">@{Html.RenderAction("GetConfigData", new { type = 1, group = 1 });}</div></div>
</div>
@{Html.RenderPartial("~/Views/Shared/_Modal.cshtml", new ViewDataDictionary {{"modal_name","modal_items"}});}