 <tr><td colspan="4" style="text-align:center;background-color:rgb(255,255,0);">SUMMARY BY CHANNEL</td></tr>
 @{decimal? t = 0;
    foreach (StrawmanApp.Models.MarketViewChannelModels item in ViewBag.MarketViewChannelsData)
    {
        string _style = "text-align:center;" + item.style;
        <tr class="grid-row"  @{Html.RenderPartial("~/Views/StrawmanViews/MasterTable/_TrStyleChannel.cshtml", new ViewDataDictionary { { "_style", _style }, { "channel", item.vchannel }});}> 
            <td colspan="4" class="grid-cell" style="text-align: right; font-weight:bold;">@Html.DisplayFor(m => item.name)</td>
        </tr>         
        t = item.vgroup;
    }
    }