@{
    ViewBag.Title = "ShareBoard";
    Layout = "~/Views/Shared/_StrwLayout.cshtml";
}
@{Html.RenderPartial("~/Views/Shared/_LoadMask.cshtml");}
<table class="mastertable" style="display:none;"><tr>
<td style ="vertical-align:top;">
    <div class="market grid-wrap">
        <table id ="ShareBoard_DataView" class="table ellipsis table-striped grid-table" style="min-width:590px;">
        <thead>
         <tr style="font-size: 1.5em; height: 108px;">
         <th style="width:41%;" rowspan="2" colspan="2"><strong>Market</strong></th>
         <th style="width:35%;" rowspan="2" colspan="2"><strong>Brand</strong></th>
         </tr>
        <tr></tr>
         </thead>
         <tbody></tbody>
        </table>
    </div>
</td>
<td style="width: 5px;"> </td>
<td class="collapsable" style="padding-left:5.5px;vertical-align:top;">
    <div class="market grid-wrap">
        <table id ="ShareBoard_MonthView" class="table table-striped grid-table" style="min-width:500px;">
         <thead>
         <tr style="background-color: rgb(141, 180, 227);font-size:0.9em;height: 39px;"><th colspan="6">LATEST MONTH @ViewBag.YearPeriod</th></tr>
         <tr style="background-color: rgb(153, 204, 255);height: 69px ! important;">
         <th style="width:80px;">Market Growth</th>
         <th style="width:80px;">Brand Grouth</th>
         <th style="width:80px;">Market Share</th>
         <th style="width:80px;">Pt +/-</th>
         <th style="width:80px;">Market Size</th>
         <th style="width:80px;">Brand Size</th>
         </tr>
         </thead>
         <tbody></tbody>
        </table>
    </div>
</td>
<td style="width: 5px;"> </td>
<td class="collapsable" style="padding-left:5.5px;vertical-align:top;">
    <div class="market grid-wrap">
        <table id="ShareBoard_YTDView" class="table table-striped grid-table" style="min-width:500px;">
        <thead>
         <tr style="background-color: rgb(141, 180, 227);font-size:0.9em;height: 39px;"><th colspan="6">YTD @ViewBag.YearPeriod</th></tr>
         <tr style="background-color: rgb(153, 204, 255);height: 69px ! important;">
         <th style="width:80px;">Market Growth</th>
         <th style="width:80px;">Brand Grouth</th>
         <th style="width:80px;">Market Share</th>
         <th style="width:80px;">Pt +/-</th>
         <th style="width:80px;">Market Size</th>
         <th style="width:80px;">Brand Size</th>
         </tr>
         </thead>
         <tbody></tbody>
        </table>
    </div>
</td>
<td style="width: 5px;"> </td>
<td class="collapsable" style="padding-left:5.5px;vertical-align:top;">
    <div class="market grid-wrap">
        <table id="ShareBoard_MATView" class="table table-striped grid-table" style="min-width:500px;">
        <thead>
         <tr style="background-color: rgb(141, 180, 227);font-size:0.9em;height: 39px;"><th colspan="6">MAT MONTH @ViewBag.YearPeriod</th></tr>
         <tr style="background-color: rgb(153, 204, 255);height: 69px ! important;">
         <th style="width:80px;">Market Growth</th>
         <th style="width:80px;">Brand Grouth</th>
         <th style="width:80px;">Market Share</th>
         <th style="width:80px;">Pt +/-</th>
         <th style="width:80px;">Market Size</th>
         <th style="width:80px;">Brand Size</th>
         </tr>
         </thead>
         <tbody></tbody>
        </table>
    </div>
</td>
</tr></table>
