body {height: 99%;}
td, th {
    padding: 0px;
}
table, input {
    margin-top: 0;    
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 2px;
    line-height: 1.42857;
    vertical-align: top;
    border: 1px solid rgb(0,0,0);
}
.table.ellipsis > tbody > tr > td {
    max-width:0;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.table > thead > tr > th {
    vertical-align: middle;
    border: 1px solid rgb(0,0,0);
    text-align: center;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: transparent;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    border: 0;
    font-size: 11px;
    font-family: Helvetica, Verdana, San-Serif !important;
    background-color:rgb(255,255,255);
}
#body
{
    background-color:rgb(255,255,255);
}
.grid-wrap
{
    border-top: 1px solid rgb(0,0,0);
}
#rotate{
    -moz-border-radius: 25px/25px;
    -webkit-border-radius: 25px 25px;
    border-radius: 40px/40px;
    border:solid 1px rgb(255,255,255); 
    width:50px;
    height:50px;
    -webkit-animation: rotation 2s linear infinite;
    -moz-animation: rotation 2s linear infinite;
    -ms-animation: rotation 2s linear infinite;
}

@-webkit-keyframes rotation {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotation {
    0%   { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}
@-ms-keyframes rotation {
    0%   { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); }
}
.boytable
{
}
.boytable .grid-cell
{
    text-align:right;padding:3px;
    border:0;
}
.boytable > thead > tr > th
{
    color:rgb(255,255,255);
    border:0;
    border-bottom: 1px solid rgb(0,0,0);
    min-width:95px;
}
.collapser
{
   cursor: pointer;
   position:absolute; top:0; min-width:20px; padding:0px 4px;font-size:1.5em;font-weight:bold; border-left:1px solid rgb(0,0,0); border-right:1px solid rgb(0,0,0); height:39px;
}
.chart
{
    width:97%;
    font-weight:bold;
    margin-bottom:20px !important;
}
.chart tbody>td>div
{
    width:100%;
}
.chart tbody>tr
{
    height: 120px;
}
.chart thead tr th
{
    text-align:center;
}
.chart thead tr>th
{
    width: 11.5%;
}
.chart .pc
{
    float:left;
    margin-left:50%;
    width:50%;
    white-space:nowrap;
}
.chart .pc>div
{
    border:1px solid rgb(0,0,0);
    height:40px !important;
    /*float:none !important;*/
    display:inline-block;
    *display:inline;
    *zoom:1;
}
.chart tr td>span, .chart .pc>span
{
    margin-top: 15% !important; margin-left: 2%; float: none !important;
    display:inline-block;
    vertical-align:top;
    *display:inline;
    *zoom:1;
}
.chart .pc .negative
{
    background-color:rgb(255,0,0)!important;
}
.chart .pc .positive
{
    background-color:rgb(0,255,0)!important;
}
.chart_wrapper
{
    margin:20px;
    display: table-cell;
}
.collapser
{
    position:absolute; 
    top:0;     
    min-width:20px; 
    padding:0px 6px;
    font-size:1.1em;
    font-weight:bold;
    border:1px solid rgb(0,0,0); 
    height:20px;
    background-color:rgb(255,255,255);
    cursor:pointer;
    z-index:99;
}
.absolute-left {
    left:0;
}
.absolute-right {
    right:0;
}
.btn-default
{
    background: none; border: 0px currentColor; text-decoration: none;
}
.dropdown-menu li a
{
    text-decoration: none;
}
.dropdown-menu
{
    border-radius: 0;
}
.removeme
{
    border: 0px currentColor; left: 0px; top: 0px; width: 100%; height: 100%; text-align: center; bottom: 0px; vertical-align: text-bottom; display: block; position: absolute; opacity: 0.5; background-color: rgb(255, 255, 255); border-image: none;
}
.removeme img
{
    margin: -2% auto auto; top: 50%; position: relative;
}
a.list-group-item, span.list-group-item {
    color: #555;
    font-size: 1.5em;
    border-radius: 0 !important;
}
a.list-group-item {
    cursor: pointer;
    text-decoration: none;
}
.panel-body
{
    position:relative;
}
.form-wrapper
{
    margin: 0 auto;
    padding: 10px;
    width: 425px;
    clear: both;
    position: relative;
}
section div.logo{
    display: inline-block;
    float: left;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    width: 44%;
    padding-top: 45%;
    margin-top: -40%;
}
.dropdown-menu .divider {
    margin:0;
}

/* form-boy styles */
.form-boy {
  margin: 0 auto;
}

.form-boy table {
  margin: 0 0 20px 0;
  width: 100%;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); */
  display: table;
  background-color: #ccc;
  font-size: 1em;
}
.form-boy table:hover{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.form-boy table tr {
  display: table-row;
  background: #f6f6f6;
}
.form-boy table tr:nth-of-type(odd) {
  background: #e9e9e9;
}
.form-boy table tr th {
  font-weight: normal;
  color: #fff;
  border: 1px solid #ccc;
  text-align:center;
  padding: 10px;
  font-size: small;
}
.form-boy table tr.red
{
  background: #ea6153;
}
.form-boy table tr.green {
  background: #27ae60;
}
.form-boy table tr.blue {
  background: #2980b9;
}
.form-boy table tr.pale-blue
{
    background:#99A0b9;
}
@media screen and (max-width: 580px) {
  .form-boy table tr{
    padding: 8px 0;
    display: block;
  }
}

.form-boy table tr td {
  padding: 0px;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  .form-boy table tr td{
    padding: 2px 12px;
    display: block;
  }
}
.form-boy table tr td{
  width:10%;
  border: 1px solid transparent;
}
.form-boy table tr td>input
{
    width: 100%;margin:0 auto;border: 1px solid transparent;text-align: center;
}
.form-boy table tr:nth-child(0) {
  width:23%;
}
.form-boy label {
    /* display: block; */
    font-size: small;
    font-weight: normal;
    margin:5px;
    margin-bottom: 0;
    font-size:14px;
    font-weight:bold;
}
.form-boy table tfoot tr{
  background-color:#f6f6f6;
}
.form-boy table tfoot a{
    margin: 5px;
    font-size: small;
    color: #a9a;
    border: 1px solid #ccc;
    visibility:hidden;
}
.form-boy table:hover tfoot a{
    visibility:visible;
}
.form-boy thead .top-bar a{
    font-size: 1.1em;
    font-weight: bold;
    color: #777;
    font-family: cursive;
}
/*.form-boy table
{
    width:100%; font-size:1.5em;
}
.form-boy {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 8px;
  line-height: 20px;
  font-weight: 400;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: transparent;
}

.form-boy {
  margin: 0 auto;
}

.form-boy table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.form-boy table tr {
  display: table-row;
  background: #f6f6f6;
}
.form-boy table tr:nth-of-type(odd) {
  background: #e9e9e9;
}
.form-boy table tr th {
  font-weight: 900;
  color: #ffffff;
  padding-top: 10px;
  border:1px solid #ccc;
  text-align:center;
}
.form-boy talbe tr.red
{
  background: #ea6153;
}
.form-boy table tr.green {
  background: #27ae60;
}
.form-boy table tr.blue {
  background: #2980b9;
}
.form-boy table tr.pale-blue
{
    background:#99A0b9;
}
@media screen and (max-width: 580px) {
  .form-boy table tr{
    padding: 0;
    display: block;
  }
}

.form-boy table tr td {
  padding: 0;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  .form-boy table tr td{
    padding: 0;
    display: block;
  }
}
.form-boy table tr td{
  width:10%;
  border:1px solid transparent;
}
.form-boy table tr td>input
{
    width: 100%;margin:0 auto;border: 1px solid transparent;text-align: center;
}
.form-boy table tr:nth-child(0) {
  width:23%;
}*/
.component-list{
  font-size: 1.1em;
}
.component-list>li{
  float:left;
  display:block;

  margin-right: 10px;
}
.wrapper.text>textarea{
  width: 100%;
  min-height: 40%;
  font-size: 1.1em;
}
.wrapper.select{
  margin: 20px auto;
  position: relative;
  display: block;
  padding: 10px;
}
form .wrapper
{
    margin: 0px auto;
    width: 50%;
    min-width: 900px;
}

.message
{
    padding-left: 10px; font-size: 1.5em;
}

.success
{
    color: rgb(0, 110, 0);
}
.fail
{
    color: rgb(200, 10, 10);
}
.letters.wrapper.mastertable
{
    max-width: 1280px;
    margin:20px auto;
}
.letters .info table, .letters .info td
{
    border-color:transparent;
}
.comment-container a
{
    text-decoration: none;
    color: rgb(50, 120, 255);
}
.comment-container a:hover
{
    color:rgb(150, 170, 255);
}
/* New rules */
.wrapper {
    font-size: 12px;
    margin: 10px;
    /* height: 100%; */
}
.wrapper.form-group {
    margin:5px;
}
.wrapper .form-control {
    padding: 0px;
    padding-left:5px;
    height:30px;
    min-width:50px;
}
.wrapper.config.main
{
  top: 45px; width: 100%; bottom: 0px; overflow: scroll; position: absolute; margin:0;padding: 0 10px;
}
/* New rules */
.menu {
    margin-top: 0px;
}
.menu_wrapper {
    width: 100%;
    height: 44px;
    margin-top: 0px;
    margin-bottom: 2px;
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    position: relative;
    background-color: rgb(242, 242, 241);
}

/* CustomStyle.css (23, 9) */
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
    border: 0;
    font-size: 1em;
    font-family: Helvetica, Verdana, San-Serif !important;
    background-color: rgb(255,255,255);
}

/* CustomStyle.css (395, 24) */
.text.wrapper > textarea {
    width: 100%;
    min-height: 40%;
}

/* site.css (182, 10) */
ul#menu {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

.mastertable {
    margin: 0;
    font-size: 1.3em;
}

table.boytable td div.sellin, table.boytable tr.sellin {
    padding: 2px; width: 100%; text-align: right; color: rgb(0, 153, 255); font-size: 14px; border-right-color: rgb(128, 128, 128); border-bottom-color: rgb(128, 128, 128); border-left-color: rgb(128, 128, 128); border-right-width: 2px; border-bottom-width: 2px; border-left-width: 2px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid;
}
table.boytable td div.sellout, table.boytable tr.sellout {
    padding: 2px; width: 100%; text-align: right; color: rgb(0, 153, 255); font-size: 14px; border-right-color: rgb(128, 128, 128); border-left-color: rgb(128, 128, 128); border-right-width: 2px; border-left-width: 2px; border-right-style: solid; border-left-style: solid;
}
table.boytable td div.share, table.boytable  {
    padding: 2px; width: 100%; text-align: right; color: rgb(0, 153, 255); font-size: 14px; border:2px solid rgb(128, 128, 128); border-spacing: 5px;
}
table.boytable td div.market, table.boytable.market {
    border: 2px solid rgb(125, 125, 125); width: 100%; text-align: center; color: rgb(0, 153, 255); font-size: 14px; margin-bottom: 5px; height:20px;
}
table.boytable th div.boy_name, table.boytable.boy_name {
    padding: 5px;
    border-radius: 4px;
    border: 2px solid rgb(125, 125, 125);
    width: 100%;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    border-spacing: 4px;
    background-color: rgb(0, 153, 255);
}
table.boytable > thead > tr > th {
    border:0;
}
a.dropdown-toggle {
    padding: 0px; border: 1px solid rgb(210, 210, 210); background-color: transparent;position:absolute; top:0;left:0;right:0;
}
a.dropdown-toggle .fa.fa-bars  {
    margin: 7px;
    float:left;
}
a.dropdown-toggle div li{
    vertical-align: middle; margin-bottom: 0.5em;
}
a.dropdown-toggle div {
    border: 1px solid rgb(110, 110, 110); width: 20px; height: 28px; padding-top: 5px; float: right; background-color: rgba(221, 221, 221, 1);line-height: 1px;
}
div:has(>a.dropdown-toggle) {
    position:relative;
}
.strwmenu a.dropdown-toggle {
     background-color: white;
}
.strwmenu a.dropdown-toggle div {
    border: 1px solid rgb(110, 110, 110); width: 20px; height: 28px; padding-top: 5px; float: right; background-color: rgba(221, 221, 221, 1);line-height: 1px;
}
ul.nav {
    width: 100%;
    margin-bottom: 2px;
}
    ul.nav a {
        font-size: 14px;
        text-decoration: none;
        font-weight: normal;
    }
    ul.nav li.active a {
        font-weight: bold;
    }
.comment.info {
    float: right;
    font-size: 10px;
}
.comment.info span {
    display: inline;
    margin-left: 5px;
}
.comment.text {
    clear: both;
    font-size:14px;
}
.comment.info a:link, .comment.info a:visited,
 .comment.info a:active, .comment.info a:hover {
        color: #008cba;
        text-decoration: none;
        background-color:transparent;
    }
.boy.save_wrapper {
    position: absolute;top: 0px;right: 17px;z-index: 999;
    background-color: white;
    border: 1px solid black;
    border-radius: 0px 0px 0px 5px;
    border-top: 0;
    border-right: 0;
    box-shadow: -2px 2px 2px 1.1px gray;
}
.btn.show_save {
    float: right;
    margin-right: 0px;
    padding: 8px 10px;
}
.boy .save_buttons.wrapper {
    width: 205px;height: 35px;
}
.boy .save_buttons button.btn-success {
    border: 1px solid rgb(255, 255, 255);color: rgb(255, 255, 255);
}
.close_form.wrapper {
    position: absolute;
    top: 4px;
    left: 7px;
    margin:0;
}
.close_form.wrapper .btn{
    margin-right: 0px;
    border-radius: 0px 0px 5px 0px;
    box-shadow: 1px 1px .5px .5px gray;
    background-color: white;
}
.loading {
    height: 95%;
    background-color: rgba(255,255,255,0.5);
    width: 95%;
    margin: 5px;
    margin-top: 0;
    margin-left: 0;
}
.config-wrapper.float-left button.btn.btn-success {
    border-bottom: 3px solid gray!important;
}
.modal .modal-nav, .panel .panel-nav{
  width: 100%; height: 42px; box-shadow: 0px 1px 3px rgb(180,180,180); background-color: rgb(246, 246, 246);
}
.modal-nav .config-wrapper
{margin: 2px; display:inline-block;}
from .select-input select{
    position: absolute;
    top: 0;
    z-index: 1;
}
form .select-input input[type=text]
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 95%;
    border: 0;
    box-shadow: none;
    background: transparent;
}
.select-input
{
  position:relative;
}
.config table td.checkbox-control{padding:0!important;text-align:center!important;}
.boy.config.wrapper, .groups.content.wrapper {top: 0;width: 100%;bottom: 0px;overflow: auto;position: absolute;margin:0;padding: 0 10px;font-size: 12px;}
.groups{position:relative; width:100%;}
.tools-bar{width: 100%;min-height: 42px;padding: 2px;box-shadow: 0px 1px 3px rgb(180,180,180);background-color: rgb(246, 246, 246);}

.edit-wrapper{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    /* height:100%; */
    display:none;
  }

  .edit-wrapper button{
    background-color: white;
    margin-right: 0px;
    padding: 8px 10px;
    box-shadow: 1px 1px .5px .5px gray;
  }

  .edit-wrapper button.float-left{
    border-radius: 0px 0px 5px 0px;
  }

  .edit-wrapper button.float-right{
    border-radius: 0px 0px 0px 5px;  
  }
  .file-wrapper{
    left: 0px;top: 0px;height: 100%;position: absolute;
  }
  .file-wrapper button{
    font-size: 14px;padding: 3px 6px;border-right: 1px solid;background-color: #fefbfb;
  }
  #ManagementLetter_Data tr:eq(2){
    display:table-row;border-top: 2px solid!important;border-bottom: 2px solid black!important;
  }
  div.panel-info .panel-body{
    float: left;
    padding: 10px;
    margin: 0;
  }
  div.panel-info .panel-heading{
    margin: 0;
    float: left;
    text-align: center;
  }
  div.panel-info .panel-body .bottom{
    width: 100%;float: absolute;
  }
  div.panel-info{
    height: auto !important;
    font-size: 1.5em;
    position: relative;
    padding: 5px !important;
  }