<label class="h5 float-left" style="padding: 2px 1em;">Channel: </label>
<div class="float-left">
<ul class="nav nav-pills">
  <li class="active"><a data-toggle="tab" href="#mass" aria-expanded="true">MASS MARKET</a></li>
  <li class=""><a data-toggle="tab" href="#beauty" aria-expanded="false">BEAUTY</a></li>
  <li class=""><a data-toggle="tab" href="#otc" aria-expanded="false">OTC</a></li>
</ul>
</div>
@if (ViewData != null && ViewData["clearfix"] != null && (bool)ViewData["clearfix"])
{
<div class="clear-fix"></div>
}