@model StrawmanApp.Models.ItemsConfigModel

@{
    ViewBag.Title = "ShowItemCaracts";
    Layout = "~/Views/Shared/_StrwLayout.cshtml";
}

<div style="margin: 2em; float: left; min-width: 400px;" class="panel panel-primary @ViewBag.Title.ToLower()">
    <div class="panel-heading"><h3 class="panel-title">Configuration for Item: @Model.brand_description|@Model.market_description</h3></div>
    <div class="panel-body"><h4 class="panel-title">IMS/Nielsen Data</h4>
    @{Html.RenderAction("GetItemConfig", new { _type = "NIELSEN", _market = Model.market, _brand = Model.brand, _channel = Model.channel });}</div>
    <div class="panel-body"><h4 class="panel-title">NTS Data</h4>
    @{Html.RenderAction("GetItemConfig", new { _type = "NTS", _market = Model.market, _brand = Model.brand, _channel = Model.channel });}</div>
    <div class="panel-body"><h4 class="panel-title">Groups</h4>
    @{Html.RenderAction("GetItemConfig", new { _type = "GROUPS", _market = Model.market, _brand = Model.brand, _channel = Model.channel });}</div>
        <div class="panel-footer">
    <a class="btn btn-default" style="border:1px solid #ccc;" btn-type="new-group" btn-target-id="new-group" btn-target-url="NewGroup">Nuevo</a>
    </div>
</div>
