<div class="pc adjust wrapper form-group" style="float:right;" data-type="banner-control">
<select name="pc_adjust" id="pc_adjust" class="form-control">
    <option selected="selected" value="2">.00%</option>
    <option value="1">.0%</option>
</select>
</div>