<div class="wc wrapper" style="float:right;" data-type="banner-control">
    <div class="form-group">
        <input type="checkbox" id="wc" class="control" style="min-width: 15px;display: inline;">
        <label for="wc" style="display:inline;" class="">WC</label>
    </div>
</div>