@{
    ViewBag.Title = "ChartByChannelView";
    Layout = "~/Views/Shared/_StrwLayout.cshtml";
}
@{Html.RenderPartial("~/Views/Shared/_LoadMask.cshtml");}
<div style="width:100%;height: 42px;background-color: #f6f6f6;">

    <div style="float:left">
        @{Html.RenderAction("GetButtonsGroupChartByChannel", "FormUtil", new { channel = ViewBag.Channel });}
    </div>
    <div style="clear:both"></div>
</div>
<div style="position:relative;font-size: .8em; display:table; border-spacing:20px; min-width:1280px;" id="content" class="mastertable table">
</div>
