<table class="table grid-table boytable boy_name" style="height: 55px;font-size: 13px;width: 190px;box-shadow: 2px 2px 0px 0px rgba(115,115,115,0.75);-moz-box-shadow: 2px 2px 0px 0px rgba(115,115,115,0.75);-webkit-box-shadow: 2px 2px 0px 0px rgba(115,115,115,0.75);">
    <thead>
        <tr>
        <th style="@ViewData["header_style"]">@ViewData["header_text"]</th>    
        <th style="width:50%;">% Growth VYA</th>
        </tr>
    </thead>
</table>