@using StrawmanApp.Helpers;
@{
    
    var _colspan = ViewData["colspan"].ToString();
    var _style = ViewData["col_style"] != null ? ViewData["col_style"].ToString() : "style = \"border:0; font-size:0.5em;background-color:" + StrawmanConstants.Colors.White + "!important;\"";
    var _row_style = ViewData["row_style"] != null ? "style=\"" + ViewData["row_style"].ToString() + "\" " : "";
    var _row_class = ViewData["row_class"] != null ? "class=\"" + ViewData["row_class"].ToString() + "\" " : "";
    var _tr = "<tr " + _row_style + _row_class + " ><td colspan=\""+ _colspan + "\"" + _style + ">&nbsp;</td></tr>";
}
@Html.Raw(_tr)