<thead>
 <tr style="background-color: rgb(141, 180, 227);font-size:0.9em;height: 39px;"><th colspan="3">52 w Market Size (€)</th></tr>
 <tr style="background-color: rgb(153, 204, 255);height: 69px ! important;">
 <th style="width:140px;">2012</th>
 <th style="width:140px;">2013</th>
 <th style="width:140px;">2014</th> 
 </tr>
 </thead>
 <tbody>
 <tr><td colspan="4" style="border:0; font-size:0.5em;">&nbsp;</td></tr>
@{  decimal? t = 0;
    foreach (StrawmanApp.Models.Market_TotalCustomModels item in ViewBag.MarketTotalCustom)
    {
        string _style = "";
        if(item.vorder == item.vgroup) {_style = "background-color: rgb(128,0,128);color:rgb(255,255,255);";}
        if (item.vorder > item.vgroup) { _style = "background-color: rgb(255,0,0);color:rgb(255,255,255);"; }  
            <tr class="grid-row" style="text-align:center;@_style">     
                <td class="grid-cell">@Html.DisplayFor(m=>item.v2012)</td>
                <td class="grid-cell">@Html.DisplayFor(m=>item.v2013)</td>
                <td class="grid-cell">@Html.DisplayFor(m=>item.v2014)</td>                    
            </tr>
        if (item.vorder > item.vgroup) {
            <tr class="grid-row" style="text-align:center;"> 
                <td colspan="3" class="grid-cell" style="text-align: right; font-weight:bold; border:0;">&nbsp;</td>
            </tr>  
        }          
        t = item.vgroup;
    } 
}
</tbody>   