@model StrawmanApp.Models.GenericConfigModel
@{
    ViewBag.Title = "UserManagment";
    Layout = "~/Views/Shared/_StrwLayout.cshtml";
}
@{Html.RenderPartial(Model.header_view, Model);}    
<div class="boy config wrapper">
    <div class="panel panel-default">
    <div class="panel-header">@Model.title</div>
        @{Html.RenderPartial(Model.content_view, Model);}
        @{Html.RenderPartial(Model.footer_view, Model);}
    </div>
</div>
