<div class="modal-content wrapper">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title h4" id="@ViewBag.ModalId">@ViewBag.ModalTitle</h4>
    </div>
        @if (ViewBag.DefaultNav != null)
        {
            string _action = ViewBag.DefaultNav;
            string _controller = ViewBag.DefaultNavController == null ? ViewBag.DefaultController : ViewBag.DefaultNavController;
    <div class="modal-nav">    
            @{Html.RenderAction(_action, _controller);}
    </div>
        }
    <div class="modal-body">@{if (ViewBag.DefaultForm != null){
                                  string _action = ViewBag.DefaultForm;
                                  string _controller = ViewBag.DefaultController;
                                  object _data = ViewBag.DefaultFormParams == null ? null : ViewBag.DefaultFormParams;
                                  Html.RenderAction(_action, _controller, _data);
                            }}</div>
    <div class="modal-footer">
        @if (ViewBag.DefaultFooter != null)
        {
            string _action = ViewBag.DefaultFooter;
            string _controller = ViewBag.DefaultFooterController == null ? ViewBag.DefaultController : ViewBag.DefaultFooterController;
            Html.RenderAction(_action, _controller);
        }

    </div>
</div>