@model StrawmanApp.Models.GenericConfigModel
<div class="items-content">
    <div class="tab-content">
    @{string _class= "class=\"tab-pane fade in active\"";}
    @foreach (StrawmanApp.Models.TableConfig table in Model.tables)
    {
        <div id="@table.id" @Html.Raw(_class)>
            @{Html.RenderPartial(table.view, table.content);}
            @{_class = "class=\"tab-pane fade\"";}
        </div>
    }
    </div>
</div>