@model StrawmanApp.Models.GenericConfigModel
@{
    ViewBag.Title = ViewBag.MenuUrl;
    Layout = "~/Views/Shared/_StrwLayout.cshtml";
}
<div class="boy config wrapper" style="top:45px;">
    <div class="content col-md-12">
        <div class="boy-groups config wrapper col-md-6" data-controller="GetBOYGroups" data-target="items" >
            @{Html.RenderAction("GetBOYGroups");}
        </div>
        <div class="items config wrapper col-md-6" data-controller="BOYConfig" data-type="items">
            @{Html.RenderAction("GetBOYConfigItems", new { order = "1"});}
        </div>
    </div>
</div>
@{Html.RenderPartial("~/Views/Shared/_Modal.cshtml", new ViewDataDictionary {{"modal_name","modal_items"}});}
