@model List<StrawmanApp.Entities.LETTERS_COMMENT_DATA>
@{
    foreach (StrawmanApp.Entities.LETTERS_COMMENT_DATA item in Model)
    {
        <div>
        @if (item.COMMENT != null)
        {
            @Html.Raw(item.COMMENT)
        }
        else
        {
            <span>&nbsp;</span>
        }
        </div> 
        
    }
}