@model List<StrawmanApp.Entities.LETTERS_COMMENT_DATA>
@{
    foreach (StrawmanApp.Entities.LETTERS_COMMENT_DATA item in Model)
    {
        <div>
        @if (item.COMMENT != null)
        {
            <p>@Html.DisplayFor(m => item.COMMENT)</p>
        }
        else
        {
            <p>&nbsp;</p>
        }
        </div> 
        
    }
}