@{
    ViewBag.Title = "Forms";
    Layout = "~/Views/Shared/_StrwLayout.cshtml";
}
<div style="margin: 2em; float: left; min-width: 400px;" class="panel panel-primary">
<div class="panel-heading"><h3 class="panel-title">Groups</h3></div>
<div class="panel-body" id="list-groups">@{Html.RenderAction("GetGroups");}</div>
<div class="panel-footer">
<a class="btn btn-default" style="border:1px solid #ccc;" btn-type="new-group" btn-target-id="new-group" btn-target-url="NewGroup">Nuevo</a>
</div></div>
<div style="margin: 2em; float: left; min-width: 400px;" class="panel panel-primary" id="items_viewer">
</div>
<div class="clear" style="clear:both"></div>
<div style ="margin: 2em; float: left; min-width: 400px;" class="panel panel-primary">
<div class="panel-body" id = "new-group"></div>
</div>
<div class="clearfix"></div>
