@model StrawmanApp.Models.LoaderViewModels
@{
    ViewBag.Title = "LoaderView";
    Layout = "~/Views/Shared/_StrwLayout.cshtml";
}
<div style="width:100%;height:100%; padding-top:15%">
<div class="panel panel-default form-wrapper">
@{
    string _filename = Model.fileName;
    int _filetype = Model.fileType;
    using(Ajax.BeginForm("UploadFile","Forms",new AjaxOptions(){HttpMethod = "POST"}, new{enctype="multipart/form-data"})){

        StrawmanApp.Models.DropDownListModels ddl = Model.ddl;
    <div>@ViewBag.Message</div>
        if (ddl != null)
        {
            <div>@Html.DropDownListFor(m => ddl.SelectedItemId, new SelectList(ddl.Items, "Value", "Text"),new { @class = "form-control"})</div>
        }
    <div class="form-control" style="margin-top:20px; margin-bottom:20px;padding:0;"><input type ="file" name ="file" style="margin: 0 auto;" title="Examinar"  /></div>
        <div class="btn-group float-right" style="margin:10px 0;"> <input type ="submit" value="Upload file" class="btn btn-default" /></div>
        <div class="">
        @if (Model.onError)
        {
             @Html.DisplayText(Model.errorMsg);
        }
        </div>
        <div class="clear" style="clear:both;"></div>
    }
    if (Model.isUpdated)
    {
        <script lang="javascript" type="text/javascript">$(document).ready(function () { LoadData('ProcessFile', 'Form', '@_filename', '@_filetype'); });</script>
    }
}
</div>
    @if(Model.isUpdated){
        Html.RenderAction("LoadConfig", "Config");
    }
</div>