@{
    Html.RenderPartial("~/Views/StrawmanViews/MasterTable/_BlankRow.cshtml", new ViewDataDictionary{{"colspan",4}});
    Html.RenderPartial("~/Views/StrawmanViews/MasterTable/_TitledRow.cshtml", new ViewDataDictionary { { "colspan", 4 }, { "bg_color", "rgb(255,255,0)" }, { "text", "SUMMARY BY KEYBRANDS" } });     
    decimal? t = 0;
    foreach (StrawmanApp.Models.MarketViewChannelModels item in ViewBag.MarketViewKeybrandsData)
    {
        string _style = "text-align:center;";
        
        <tr class="grid-row" @{Html.RenderPartial("~/Views/StrawmanViews/MasterTable/_TrStyleKeybrands.cshtml", new ViewDataDictionary { { "_style", _style }, { "id", item.vid } });}>      
            <td colspan="4" class="grid-cell" style="text-align: right; font-weight:bold;">@Html.DisplayFor(m => item.name)</td>
        </tr>         
        t = item.vgroup;
    }
}