<table data-type="preview_table" data-controller="Config" data-action="GetNTSPreview" data-table="STRWM_NTS_DATA_BCK" class ="table">
    <thead>
        <tr>
            <td>DESCRIPTION</td>
            <td>MONTH AMOUNT ACTUAL</td>
            <td>YTD AMOUNT ACTUAL</td>
            <td>YEAR PERIOD</td>
            <td>MONTH PERIOD</td>
        </tr>
    </thead>
    <tbody>@{Html.RenderAction(StrawmanApp.Classes.ActionsNames.GET_NTS_PREVIEW, StrawmanApp.Classes.ControllersNames.CONFIG, new { });}</tbody>
</table>