@model StrawmanApp.Models.GenericConfigModel
<div class="tools-bar">
<label class="h5 float-left" style="padding: 2px 1em;">Channel: </label>
<div class="float-left">
    @{Html.RenderPartial(Model.navigator.view,Model.navigator);}
</div>
</div>